@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="SignIn" class="signin">

    <div class="content">

        <h2>Sign In</h2>

        <div class="form">
            <div style="color: red; width: 100%;" asp-validation-summary="All"></div>


            <div class="inputBox" style="width:100%">

                <input asp-for="Email"> <i>Email Address</i>
                <span class="validation" asp-validation-for="Email"></span>
            </div>

            <div class="inputBox" style="width:100%">

                <input asp-for="Password"> <i>Password</i>
                <span type="password" class="validation" asp-validation-for="Password"></span>
            </div>


            <div class="checkbox-wrapper-39">
                <label>
                    <input asp-for="RememberMe" /> <span style="background: transparent;" class="checkbox"></span>
                </label>
                <label style="width: auto; color: #0f0">Remember Me</label>
                <span class="validation" asp-validation-for="RememberMe"></span>
            </div>

            <div class="links">
                <a href="#">I Don't have an account</a> <a asp-action="SignUp">Sign up</a>

            </div>

            <div class="inputBox" style="width: 100%">

                <input type="submit" value="Sign In">

            </div>

        </div>

    </div>

</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


