@model DepartmentViewModel
@{
    ViewData["Title"] = "Create Department";
    ViewData["Action"] = "Create";
}

<div class="col-6 m-auto">
    <h1 class="my-5">Create Department</h1>

    <div class="alert alert-danger" asp-validation-summary="ModelOnly">
        
    </div>

    <partial name="Partials/CreateEditDepartmentPartial" model="Model"></partial>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"></partial>
}