@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-5 w-75 m-auto">Department Details</h1>

<div class="alert alert-danger w-75 m-auto" asp-validation-summary="ModelOnly">

</div>

<partial name="Partials/DetailsDeleteDepartmentPartial" model="Model"></partial>

<form asp-action="Delete" class="btns d-flex justify-content-end align-items-center gap-4 w-75 mt-5 m-auto">
    <button type="submit" class="btn btn-outline-danger" asp-asp-controller="Deaprtment">
        <i class="fa-solid fa-trash me-2"></i> Delete
    </button>
    <a class="btn btn-outline-success" asp-controller="Department" asp-action="Index">
        <i class="fa-solid fa-right-to-bracket me-2"></i>  Go Back
    </a>
</form>