@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Details";
}

<h1 class="my-5 w-75 m-auto">Department Details</h1>

<partial name="Partials/DetailsDeleteDepartmentPartial" model="Model"></partial>

<div class="btns d-flex justify-content-end align-items-center gap-4 w-75 mt-5 m-auto">
    <a class="btn btn-outline-success" asp-asp-controller="Deaprtment" asp-action="Edit" asp-route-id="@Model.Id">
        <i class="fa-solid fa-pen-to-square me-2"></i> Edit
    </a>
    <a class="btn btn-outline-danger" asp-controller="Department" asp-action="Index">
        <i class="fa-solid fa-right-to-bracket me-2"></i>    Go Back
    </a>
</div>